.Alq-header {
    background-color: #282c34;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center ;
    font-size: 20px;
    color: white;
    text-align: left;
  }

.Alq-content {
    background-color: #FFDBD3;
    display:flex;
    height: 90vh;
}

.Alq-col1{
  background-color: #9ED3D0;
  width: 20vw
}

.Alq-col2{
  background-color: #9ED3B5;
  width: 80vw
}